################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DNmodel/v16
/DNmodel/bin/Debug
/DNmodel/obj/Debug
/DNmodel/tDN_135b_V2.xml
/DNmodel/tDN_135b_resultsAG3.txt
/DNmodel/tDN_135b_results.txt
